@import 'header.css';

* {
    box-sizing: border-box;
    font-family: 'Google Sans';
    margin: 0;
    padding: 0;
    transition: 0.3s ease;
}

body {
    display: flex;
    flex-direction: column;
    background-color: #e9e9e9;
    width: 100%;
    overflow-x: hidden;
}

main {
    display: flex;
    flex-direction: row;
    align-content: center;
    width: auto;
    height: 100%;
    margin: 130px;
    margin-top: 0px;
    background-color: transparent;
    border-radius: 2px;
    gap: 20px;
}

.categ-div {
    display: flex;
    position: relative;
    justify-content: stretch;
    align-items: center;
    margin: 0px 60px 0px 0px;
    flex-direction: column;
    width: 15%;
    height: 100%;
}

.categ-div::after {
    content: "";
    display: block;
    position: absolute;
    width: 3px;
    height: 100%;
    right: -60px;
    border-radius: 30px;
    top: 0;
    background-color: #9c9c9c;
}

.categ-div label {
    font-size: 25px;
    margin: 20px 0px;
    text-wrap: none;
    text-align: left;
}

.categorias {
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: left;
    align-items: center;
    gap: 20px;
    background-color: transparent;
    width: 100%;
    height: 100%;
}

.categoria {
    background-color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 20px;
    width: 100%;
    height: 70px;
    outline: none;
    font-size: 20px;
}

.lado-tarefas {
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: left;
    align-items: center;
    margin: 0px 0px 0px 30px;
    background-color: transparent;
    width: 75%;
    height: 100%;
}

.breadcrumbs {
    display: flex;
    position: relative;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    margin: 20px 0px;
    gap: 10px;
    background-color: transparent;
    width: 100%;
}

.add-tarefa {
    background-color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 20px;
    width: 100%;
    height: 70px;
    outline: none;
    font-size: 20px;
}

.tarefas {
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: left;
    align-items: center;
    gap: 20px;
    background-color: transparent;
    width: 100%;
    height: 100%;
}